extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}

//- Output when running nodemon in terminal:
//- Warning: Unexpected block "content"  on line 3 of /Users/luccamonnie/Desktop/renter/app_server/views/error.jade. This block is never used. This warning will be an error in v2.0.0
