doctype html
html(ng-app='renterApp')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bootstrap/css/new-age.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='device-mockups/device-mockups.min.css')
    link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='vendor/simple-line-icons/css/simple-line-icons.css')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli', rel='stylesheet')
    link(href='css/new-age.min.css', rel='styleshe et')

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    
    title Renter

    body#page-top
    
      nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top

        .container
      div(ng-view)
        
          a.navbar-brand.js-scroll-trigger(href='/') Renter
      
      script(src='/angular/angular.min.js')
      script(src='/lib/angular-route.min.js')
      script(src='/app.js')
      script(src='/angular/renterApp.js')
